<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
 <!-- src/main/resources/static/js/common.js を読み込む -->
 <script th:src="@{/js/index.js}"></script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h2>Sample Page</h2>
    <div th:text="'こんにちは ' + ${#authentication.name} + ' さん'"></div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト" />
    </form>
    <p id="time"></p>
 <script type="text/javascript" th:inline="javascript">
	 time();
	 function time(){
	     var now = new Date();
	     document.getElementById("time").innerHTML = now.toLocaleTimeString();
	 }
	 setInterval('time()',1000);
</script>
</body>
</html>